// @import '~node_modules/modern-normalize/modern-normalize.css';

body {
  margin: 0;
  color: $black-text-color;
  // font-family: 'Roboto', sans-serif; 
  // background-color: $body-black-bg-color;
}
.kursor{
  font-family: 'Merriweather', italic;
  
}
