.footer {
  background-color: $body-black-bg-color;
  padding: 35px 0 20px 0;
}
.container-footer {
  width: 285px;
  margin: 0 auto;
}
.first-section-footer {
  border-bottom: 2px solid $color-line;
}

.title {
  color: $white-text-color;
  font-family: Inter, semi-bold;
  margin-bottom: 30px;
  font-size: 22px;
  line-height: calc(27 / 22);
}

.adres {
  font-family: Inter, semi-bold;
  font-size: 13px;
  line-height: calc(18 / 13);
  color: $white-text-color;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.contact {
  font-family: Inter, semi-bold;
  font-size: 13px;
  line-height: calc(18 / 13);
  color: $grey-text-8-color;
  margin-bottom: 30px;
}
.contact-margin {
  margin-bottom: 5px;
}

.second-section-footer {
  border-bottom: 2px solid $color-line;
  padding: 25px 0 25px 0;
}
.menu-section-item {
  font-family: Merriweather, bold;
  font-size: 13px;
  line-height: calc(20 / 13);
  color: $white-text-color;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}

.footer-relative {
  position: relative;
  margin-bottom: 25px;
}
.footer-icon-arrow {
  fill: $body-black-bg-color;
  position: absolute;
  top: 50%;
  left: 85%;
  transform: translate(-50%, -50%);
}
.second-footer-title {
  margin: 25px 0;
}
.nav-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 27px;
  margin-top: 20px;
}
.footer-icon-chevron {
  fill: white;
  margin: 0;
}

.footer-list-icon {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.footer-soc-item {
  width: 37px;
  height: 35px;
  background-color: $body-white-bg-color;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-soc-link {
  width: 100%;
  height: 100%;
}
.link-for-submenu {
  display: flex;
  justify-content: space-between;
}

.menu-section {
  display: flex;
  flex-direction: column;
}
.submenu {
  display: none;
}

.menu-section-item:hover .submenu {
  display: block;
}

.item-submenu {
  font-family: Inter, semi-bold;
  font-size: 13px;
  line-height: calc(18 / 13);
  color: $grey-text-8-color;
  text-transform: none;
  // margin-bottom: 5px;
}
.item-submenu:not(:last-child) {
  margin-bottom: 5px;
}
.item-submenu:nth-child(1) {
  margin-top: 10px;
}

.menu-section-item:not(:last-child) {
  margin-bottom: 20px;
}
.link-for-submenu:hover .footer-icon-chevron {
  transform: rotate(180deg);
}
@media screen and (min-width: 767px) {
  .container-footer{
    width: 1345px;
  }
  .title {
    margin-bottom: 35px;
    font-size: 49px;
    line-height: calc(62 / 49);
  }

  .maps .btn {
    display: none;
  }

  .image-maps {
    width: 725px;
    height: 325px;
    background-color: aqua;
  }
  .contacts-maps{
    display: flex;
    justify-content: space-between;
  }
  .time-and-contacts{
    display: flex;
    flex-direction: column-reverse;
  }
  .section-contacts{
    display: flex;
    justify-content: space-between;
  }
 
  .adres{
margin: 0;
  }
  .adres-street .contact{
    margin: 0;
    
  }

  .adres-street{
    
    width: 224px;
    height: 92px;
    padding-top: 64px;
  }
}
