.footer {
  background-color: $body-black-bg-color;
  padding: 35px 0 20px 0;
}
.container-footer {
  width: 285px;
  margin: 0 auto;
}
.first-section-footer {
  border-bottom: 2px solid $color-line;
}

.title {
  color: $white-text-color;
  font-family: Inter, semi-bold;
  margin-bottom: 30px;
  font-size: 22px;
  line-height: calc(27 / 22);
}

.adres {
  font-family: Inter, semi-bold;
  font-size: 13px;
  line-height: calc(18 / 13);
  color: $white-text-color;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.contact {
  font-family: Inter, semi-bold;
  font-size: 13px;
  line-height: calc(18 / 13);
  color: $grey-text-8-color;
  margin-bottom: 30px;
}
.contact-margin {
  margin-bottom: 5px;
}

.second-section-footer {
  border-bottom: 2px solid $color-line;
  padding: 25px 0 25px 0;
}
.menu-section-item {
  font-family: Merriweather, bold;
  font-size: 13px;
  line-height: calc(20 / 13);
  color: $white-text-color;
  text-transform: uppercase;

  flex-direction: column;
}

.footer-relative {
  position: relative;
  margin-bottom: 25px;
}
.footer-icon-arrow {
  fill: $body-black-bg-color;
  position: absolute;
  top: 50%;
  left: 85%;
  transform: translate(-50%, -50%);
}
.second-footer-title {
  margin: 25px 0;
}
.nav-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 27px;
  padding-top: 20px;
}
.footer-icon-chevron {
  fill: white;
  margin: 0;
}

.footer-list-icon {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.footer-soc-item {
  width: 37px;
  height: 35px;
  background-color: $body-white-bg-color;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-soc-link {
  width: 100%;
  height: 100%;
}
.link-for-submenu {
  display: flex;
  justify-content: space-between;
}

.menu-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.submenu {
  display: none;
}

.menu-section-item:hover .submenu {
  display: block;
}

.item-submenu {
  font-family: Inter, semi-bold;
  font-size: 13px;
  line-height: calc(18 / 13);
  color: $grey-text-8-color;
  text-transform: none;
  // margin-bottom: 5px;
}
.item-submenu:not(:last-child) {
  margin-bottom: 5px;
}
.item-submenu:nth-child(1) {
  margin-top: 10px;
}

.link-for-submenu:hover .footer-icon-chevron {
  transform: rotate(180deg);
}
.maps {
  width: 195px;
}
@media screen and (min-width: 1100px) {
  .footer {
  padding-top: 0;
  }
  .container-footer {
    width: 1340px;
  }
  .first-section-footer {
    padding: 75px 0 75px 0;
  }
  .title {
    margin-bottom: 35px;
    font-size: 49px;
    line-height: calc(62 / 49);
  }
  .contacts-maps {
    display: flex;
    gap: 120px;
  }

  .maps .btn {
    display: none;
  }
  .adres {
    font-size: 18px;
    line-height: calc(28 / 18);
  }
  .contact {
    font-size: 18px;
    line-height: calc(28 / 18);
    margin: 0;
  }

  .image-maps {
    width: 725px;
    height: 302px;
    background-color: aqua;
    border-radius: 10px;
  }

  .section-contacts {
    display: flex;
    align-items: end;
    gap: 45px;
  }
  .time-and-contacts {
    display: flex;
    flex-direction: column;
  }
  .contacts {
    order: 1;
    margin-bottom: 35px;
  }
  .time {
    order: 2;
  }
  .adres-street {
    width: 225px;
    order: 3;
  }
  .social-section {
    display: flex;
    gap: 113px;
    border-bottom: 2px solid #3e3e3e;
  }
  .second-section-footer {
    order: 2;
    width: calc(100% - 320px);
    padding: 0;
    border-bottom: none;
    padding: 67px 0 67px 0;
  }
  .third-section-footer {
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 320px;
    border-right: 2px solid #3e3e3e;
    border-left: 2px solid #3e3e3e;
    // padding: 67px 0px 67px 0px;
  }
  .logo-footer {
    width: 186.36px;
    height: 50px;
  }
  .nav-footer {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 149px;
    display: flex;
    padding: 0;
    margin: 67px 0 74px 0;
  }
  .menu-section {
    flex-direction: row;
    gap: 76px;
  }
  .link-for-submenu {
    display: block;
  }
  .footer-icon-chevron {
    display: none;
  }
  .submenu {
    display: block;
  }
  .footer-soc-item {
    width: 48px;
    height: 40px;
  }
  .footer-soc-icon {
    width: 18px;
    height: 18px;
  }
  .menu-section-item {
    width: 150px;
    font-size: 18px;
    line-height: calc(22 / 18);
  }
  .item-submenu {
    font-size: 16px;
    line-height: calc(22 / 16);
  }
  .fourth-footer-section {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
  }
  .last-footer-title {
    font-family: Inter, semi-bold;
    font-size: 13px;
    line-height: calc(18 / 13);
    color: $grey-text-7-color;
  }
  .political {
    display: flex;
    gap: 25px;
  }
}
