$body-white-bg-color: #ffffff;
$body-black-bg-color: #171717;
$black-text-color:#171717;
$white-text-color:#ffffff;
$grey-text-6-color:#666666;
$grey-text-8-color:#888888;
$color-line:#3E3E3E;


// @font-face {
//     font-family: 'Inter';
//     src: url('../../fonts/Inter Regular.ttf');
   
//   }



