.instagram{
    padding-top: 20px;
    padding-bottom: 35px;
}

.instagram-title{
    font-size: 16px;
    line-height: calc(20/16);
    margin-bottom: 20px;
}

.instagram-list{
    display: flex;
    gap: 10px;
}