<section class="about">
  <div class="container">
    <p class="about-about">Про нас</p>
    <h2 class="about-title">
      Стоматологія, що дарує приємні емоціі,<span class="kursor span-kursor"
        >а якість — як аксіома.</span
      >
    </h2>
    <p class="about-text">
      Досвідчена команда FeloniuK Clinic проводить лікування та профілактику
      усіх проблем щелепно-лицевої ділянки. Сучасно орієнтований підхід,
      багатопрофільний аналіз та найновіше обладнання дозволяє реалізувати
      європейські протоколи із якісним довготривалим прогнозом.
    </p>
    <a href="" class="btn primary link about-relative">
      Детальніше про нас
      <svg class="icon-arrow" width="12" height="7.5">
        <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
      </svg>
    </a>
  </div>
</section>
