<section class="doctors">
    <div class="container"> 
        <h2 class="section-title"><i class="kursor">Лікарі</i> клініки</h2>
        <div class="doctors-flex"> 
        <ul class="list doctors-together"> 
          <li ><img class="doctor-img" src="./images/main-doctor-1x.jpg" width="150" alt="endo">
              <h3 class="doctor-name">Роман Фелонюк</h3>
                <p class="doctor-place">
                  Засновник, головний лікар 
              </p>  
          </li>
          <li class="list"> <img class="doctor-img" src="./images/doctor-endo-1x.jpg" width="150" alt="endo">
            <h3 class="doctor-name">Віталій</h3>
            <p class="doctor-place">
            Лікар-ендодонтист 
        </p></li>          
          </div>   
        </ul>
    </div>
 
</section>
