<section class="emotions">
  <div class="container">
    <h2 class="emotions-title">
      <span class="kursor">Емоції</span> людей, які скористалися нашими
      послугами
    </h2> 
    <ul class="list emotions-list">
      <li>
        <img
          src="./images/people_for_table-1x.jpg"
          alt="people-table"
          class="emotions-img"
        />
        <p class="emotions-name">@muzika_vira</p>
      </li>

      <li>
        <img src="./images/blond-1x.jpg" alt="blond" class="emotions-img" />
        <p class="emotions-name">@muzika_vira</p>
      </li>
    </ul>
  </div>
</section>
