<section class="image-section">
  <div class="container">
    <div class="image-section-flex">
      <ul class="list image-section-list">
        <li class="">
          <img src="./images/dantysts-1x.jpg" alt="dantyst" width="618" />
        </li>
        <li><img src="./images/people-1x.jpg" alt="" width="198" /></li>
      </ul>
      <ul class="list image-section-list">
        <li><img src="./images/hirurg-1x.jpg" alt="hirurg" width="360" /></li>
        <li><img src="./images/girl-1x.jpg" alt="girl" width="117" /></li>
      </ul>
    </div>
  </div>
</section>
